@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;900&family=Playfair+Display+SC:ital,wght@0,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100;1,200;1,400;1,500;1,900&display=swap");

.elementor-885 .elementor-element.elementor-element-bda79d2 {
  --display: flex;
  /* --min-height: 400px; */
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-885
  .elementor-element.elementor-element-bda79d2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-885
  .elementor-element.elementor-element-bda79d2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-885 .elementor-element.elementor-element-bda79d2,
.elementor-885 .elementor-element.elementor-element-bda79d2::before {
  --border-transition: 0.3s;
}
.elementor-885 .elementor-element.elementor-element-b4f8949 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 20px;
  --padding-right: 0px;
  --padding-bottom: 60px;
  --padding-left: 0px;
}
.elementor-885 .elementor-element.elementor-element-7ef8c0f {
  font-family: "Cairo", sans-serif;
  font-size: var(--e-global-typography-0301ea1-font-size);
  font-weight: var(--e-global-typography-0301ea1-font-weight);
  line-height: var(--e-global-typography-0301ea1-line-height);
  letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
  word-spacing: var(--e-global-typography-0301ea1-word-spacing);
  /* color: var(--e-global-color-text); */
}
.elementor-885 .elementor-element.elementor-element-7ef8c0f a {
  color: var(--e-global-color-text);
}
.elementor-885 .elementor-element.elementor-element-7ef8c0f a:hover {
  color: var(--e-global-color-primary);
}
.elementor-885
  .elementor-element.elementor-element-7ef8c0f
  > .elementor-widget-container {
  padding: 0px 15px 0px 15px;
}
.elementor-885 .elementor-element.elementor-element-419f3b1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
}
.elementor-885 .elementor-element.elementor-element-9a1f237 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-between;
  --align-items: center;
  --gap: 0px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-width-top: 0px;
  --border-width-right: 0px;
  --border-width-bottom: 1px;
  --border-width-left: 0px;
  border-color: #dbdbdb;
  --border-color: #dbdbdb;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 34px;
  --margin-left: 0px;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 24px;
  --padding-left: 0px;
}
.elementor-885 .elementor-element.elementor-element-9a1f237,
.elementor-885 .elementor-element.elementor-element-9a1f237::before {
  --border-transition: 0.3s;
}
.elementor-885 .elementor-element.elementor-element-a70b0ee {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-885
  .elementor-element.elementor-element-c20615a
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  /* font-family: "Montserrat", Sans-serif; */
  font-size: 19px;
  font-weight: 400;
}
.elementor-885
  .elementor-element.elementor-element-c20615a
  > .elementor-widget-container {
  /* padding: 0px 0px 0px 34px; */
  /* background-image: url("../../dateicon.svg"); */
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 22px auto;
}
.elementor-885 .elementor-element.elementor-element-2fd912a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: flex-end;
  --align-items: center;
  --gap: 18px;
  --background-transition: 0.3s;
}
.elementor-885
  .elementor-element.elementor-element-c6ee956
  .elementor-heading-title {
  font-family: "Cairo", Sans-serif;
  font-size: var(--e-global-typography-0301ea1-font-size);
  font-weight: var(--e-global-typography-0301ea1-font-weight);
  line-height: var(--e-global-typography-0301ea1-line-height);
  letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
  word-spacing: var(--e-global-typography-0301ea1-word-spacing);
}
.elementor-885 .elementor-element.elementor-element-ed34035 .bdt-social-share {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}
.elementor-885 .elementor-element.elementor-element-ed34035 .bdt-ss-btn {
  font-size: calc(0.7px * 10);
  border-width: 1px;
}
.elementor-885 .elementor-element.elementor-element-ed34035 .bdt-ss-icon i {
  font-size: 1.6em;
}
.elementor-885
  .elementor-element.elementor-element-f4c0177
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-82aa549-font-family), Sans-serif;
  font-size: var(--e-global-typography-82aa549-font-size);
  font-weight: var(--e-global-typography-82aa549-font-weight);
  line-height: var(--e-global-typography-82aa549-line-height);
  letter-spacing: var(--e-global-typography-82aa549-letter-spacing);
  word-spacing: var(--e-global-typography-82aa549-word-spacing);
}
.elementor-885 .elementor-element.elementor-element-98ffe8a {
  font-family: "Cairo", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6em;
}
.elementor-885
  .elementor-element.elementor-element-98ffe8a
  > .elementor-widget-container {
  margin: 24px 0px 40px 0px;
}
.elementor-885
  .elementor-element.elementor-element-0e42a52
  span.post-navigation__prev--label,
.elementor-885
  .elementor-element.elementor-element-0e42a52
  span.post-navigation__next--label {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
}
.elementor-885
  .elementor-element.elementor-element-0e42a52
  span.post-navigation__prev--title,
.elementor-885
  .elementor-element.elementor-element-0e42a52
  span.post-navigation__next--title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-885 .elementor-element.elementor-element-b177bf7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px;
  --background-transition: 0.3s;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (min-width: 768px) {
  .elementor-885 .elementor-element.elementor-element-419f3b1 {
    --content-width: 800px;
  }
  .elementor-885 .elementor-element.elementor-element-a70b0ee {
    --width: 30%;
  }
  .elementor-885 .elementor-element.elementor-element-2fd912a {
    --width: 70%;
  }
}
@media (max-width: 1200px) {
  .elementor-885 .elementor-element.elementor-element-bda79d2 {
    --min-height: 217px;
  }
  .elementor-885 .elementor-element.elementor-element-b4f8949 {
    --padding-top: 15px;
    --padding-right: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
  }
  .elementor-885 .elementor-element.elementor-element-7ef8c0f {
    font-size: var(--e-global-typography-0301ea1-font-size);
    line-height: var(--e-global-typography-0301ea1-line-height);
    letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
    word-spacing: var(--e-global-typography-0301ea1-word-spacing);
  }
  .elementor-885
    .elementor-element.elementor-element-7ef8c0f
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-885 .elementor-element.elementor-element-419f3b1 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 80px;
    --padding-left: 0px;
  }
  .elementor-885 .elementor-element.elementor-element-9a1f237 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 24px;
    --margin-left: 0px;
  }
  .elementor-885
    .elementor-element.elementor-element-c20615a
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-885
    .elementor-element.elementor-element-c6ee956
    .elementor-heading-title {
    font-size: var(--e-global-typography-0301ea1-font-size);
    line-height: var(--e-global-typography-0301ea1-line-height);
    letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
    word-spacing: var(--e-global-typography-0301ea1-word-spacing);
  }
  .elementor-885
    .elementor-element.elementor-element-ed34035
    .bdt-social-share {
    display: flex;
    flex-wrap: wrap;
  }
  .elementor-885
    .elementor-element.elementor-element-f4c0177
    .elementor-heading-title {
    font-size: var(--e-global-typography-82aa549-font-size);
    line-height: var(--e-global-typography-82aa549-line-height);
    letter-spacing: var(--e-global-typography-82aa549-letter-spacing);
    word-spacing: var(--e-global-typography-82aa549-word-spacing);
  }
  .elementor-885 .elementor-element.elementor-element-98ffe8a {
    font-size: 17px;
  }
  .elementor-885
    .elementor-element.elementor-element-98ffe8a
    > .elementor-widget-container {
    margin: 18px 0px 30px 0px;
  }
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__prev--label,
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__next--label {
    font-size: 17px;
  }
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__prev--title,
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__next--title {
    font-size: var(--e-global-typography-text-font-size);
  }
}
@media (max-width: 767px) {
  .elementor-885 .elementor-element.elementor-element-bda79d2 {
    --min-height: 100px;
  }
  .elementor-885 .elementor-element.elementor-element-b4f8949 {
    --padding-top: 10px;
    --padding-right: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
  }
  .elementor-885 .elementor-element.elementor-element-7ef8c0f {
    font-size: var(--e-global-typography-0301ea1-font-size);
    line-height: var(--e-global-typography-0301ea1-line-height);
    letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
    word-spacing: var(--e-global-typography-0301ea1-word-spacing);
  }
  .elementor-885
    .elementor-element.elementor-element-7ef8c0f
    > .elementor-widget-container {
    padding: 0px 3px 0px 3px;
  }
  .elementor-885 .elementor-element.elementor-element-419f3b1 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 50px;
    --padding-left: 0px;
  }
  .elementor-885 .elementor-element.elementor-element-9a1f237 {
    --justify-content: center;
    --gap: 10px;
  }
  .elementor-885 .elementor-element.elementor-element-a70b0ee {
    --width: 120px;
  }
  .elementor-885
    .elementor-element.elementor-element-c20615a
    .elementor-heading-title {
    font-size: 15px;
  }
  .elementor-885 .elementor-element.elementor-element-2fd912a {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 6px;
  }
  .elementor-885
    .elementor-element.elementor-element-c6ee956
    .elementor-heading-title {
    font-size: var(--e-global-typography-0301ea1-font-size);
    line-height: var(--e-global-typography-0301ea1-line-height);
    letter-spacing: var(--e-global-typography-0301ea1-letter-spacing);
    word-spacing: var(--e-global-typography-0301ea1-word-spacing);
  }
  .elementor-885
    .elementor-element.elementor-element-ed34035
    .bdt-social-share {
    display: flex;
    flex-wrap: wrap;
  }
  .elementor-885
    .elementor-element.elementor-element-f4c0177
    .elementor-heading-title {
    font-size: var(--e-global-typography-82aa549-font-size);
    line-height: var(--e-global-typography-82aa549-line-height);
    letter-spacing: var(--e-global-typography-82aa549-letter-spacing);
    word-spacing: var(--e-global-typography-82aa549-word-spacing);
  }
  .elementor-885 .elementor-element.elementor-element-98ffe8a {
    font-size: 16px;
  }
  .elementor-885
    .elementor-element.elementor-element-98ffe8a
    > .elementor-widget-container {
    margin: 13px 0px 0px 0px;
  }
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__prev--label,
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__next--label {
    font-size: 16px;
  }
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__prev--title,
  .elementor-885
    .elementor-element.elementor-element-0e42a52
    span.post-navigation__next--title {
    font-size: var(--e-global-typography-text-font-size);
  }
} /* Start custom CSS for post-navigation, class: .elementor-element-0e42a52 */
.elementor-885
  .elementor-element.elementor-element-0e42a52
  .elementor-post-navigation__link__prev {
  background-image: url(../../BTArrow2-color.svg);
  background-position: 1.5% 55%;
  background-repeat: no-repeat;
  background-size: 1.36em auto;
  padding-left: 2.5em !important;
  padding-right: 0.7em !important;
  transition: all 0.3s ease-out;
}
.elementor-885
  .elementor-element.elementor-element-0e42a52
  .elementor-post-navigation__link__prev:hover {
  background-position: 0% 55% !important;
}
.elementor-885
  .elementor-element.elementor-element-0e42a52
  .elementor-post-navigation__link__next {
  background-image: url(../../BTArrow1-color.svg);
  background-position: 98.5% 55%;
  background-repeat: no-repeat;
  background-size: 1.36em auto;
  padding-right: 2.5em !important;
  padding-left: 0.7em !important;
  transition: all 0.3s ease-out;
}
.elementor-885
  .elementor-element.elementor-element-0e42a52
  .elementor-post-navigation__link__next:hover {
  background-position: 100% 55% !important;
} /* End custom CSS */
